### Lista de Exercícios
Kênia Aparecida dos Santos

##### 1- log de 4 na base 3

In [1]:
import math

In [2]:
number = 4
base = 3
exponent = math.log(number, base)

In [3]:
exponent

1.2618595071429148

##### 2- Ln(10)

In [10]:
import numpy as np
np.log(10)

2.302585092994046

##### 3- Área do círculo com raio = 6.5 cm
(A = π r²)

In [11]:
def acirculo(raio): 
    conta =(3.1415*raio**2)
    return conta

In [12]:
acirculo(6.5)

132.728375

##### 4- raiz quadrada de 2500

In [14]:
import numpy
numpy. sqrt(2500)

50.0

##### 5- var=25+60×3(14−5)2 com 3 casas decimais

In [15]:
var= round((25+60*3)/(14-5)**2,3)
var

2.531

##### 6.1) fatorial de 5- 'na mão' e

In [16]:
def factorial(n): 
    return 1 if (n==1 or n==0) else n * factorial(n - 1);  
  
num = 5; 
print("Fatorial de",num,"é", factorial(num))

Fatorial de 5 é 120

##### 6.2) por método numpy

In [17]:
a = np.math.factorial(5)
print(a)

120

##### 7- coseno (45)

In [18]:
np.math.cos(45)

0.5253219888177297

##### 8- Binômio de newton(3  2) “Com 3 números, quantas combinações posso fazer escolhendo 2 a 2?”

In [ ]:
##### Fatorial 3!/2!(3-2)

In [46]:
import math as mt

In [47]:

binomio_newton=mt.factorial(3)/(mt.factorial(2)*mt.factorial(3-2))

In [48]:
binomio_newton

3.0

##### 9- Gerar um número aleatório INTEIRO entre 1 e 100

In [19]:
import random
x = random.randint(1,100)
print(x)

41

##### 10- Gerar um número aleatório DECIMAL entre 1 e 100

In [22]:
random.uniform(1,100)

67.3931054336896

##### 11- Qual o TIPO das seguintes variáveis?
a) var1=1+1
b) var2=1.+1.
c) var3= ‘Joaquim ’ + ‘José ’ + ‘da ’+’Silva ’+’Xavier’
d) var4=True
e) var5=[‘alfa’,’beta’,’gama’,’delta’,’epsilon’]
f) var6=pd.DataFrame(data=var5)
g) var6[0]

In [23]:
var1=1+1
type(var1)

int

In [24]:
var2=1.+1.
type(var2)

float

In [25]:
var3= ('Joaquim ' + 'José ' + 'da '+ 'Silva' + 'Xavier')
type(var3)

str

In [26]:
var4=True
type(var4)

bool

In [27]:
var5=['alfa','beta','gama','delta','epsilon']
type(var5)

list

In [28]:
import pandas as pd
var6=pd.DataFrame(data=var5)
type(var6)

pandas.core.frame.DataFrame

In [29]:
var6[0]
type(var6[0])

pandas.core.series.Series

##### 12- Na variável var7=’Guido van Rossum’. (Esse é o criador do Python).Como fazemos para acessar a letra ‘R’?

In [30]:
var7= 'Guido Van Rossum'
var7[10]

'R'

##### 13- Desejo ter uma variável chamada ‘resultado1’ que será a soma dos elementos assinalados em negrito na lista ‘Lista’. 
Lista = [‘Python’, 10, 1.5, [1, 2, 3, 4], [2, 4, 6, 8], [1 , 3, 6, ( 9, 8, 7), 10]]

In [31]:
Lista = ['Python', 10, 1.5, [1, 2, 3, 4], [2, 4, 6, 8], [1 , 3, 6, ( 9, 8, 7), 10]]

In [32]:
resul1= Lista[1]

In [33]:
resul2 = Lista[3][2]

In [34]:
resul3 = Lista[4][0]

In [35]:
resul4 = Lista[5][3][1]

In [36]:
resultado1= resul1+resul2+resul3+resul4

In [37]:
resultado1

23

##### 14- Desejo ter uma variável chamada ‘resultado2’ que será a média da mesma lista da questão 13.

In [38]:
media = (resul1+resul2+resul3+resul4)/4
media

5.75

##### 15- Tendo uma lista dados =[ 7,4,7,9,7,3,6,8,6,5,7,9]. Quero fazer um e tirar a média de diferentes fatiamentos (Slices)
a) Todos os valores até o valor 8
b) Do valor 3 até o final
c) Do valor 9 (1° valor) até o valor 5

In [39]:
dados =[ 7,4,7,9,7,3,6,8,6,5,7,9]

In [40]:
a= dados[:8]
numpy.mean(a)

6.375

In [41]:
b= dados[5:]
b
numpy.mean(b)

6.285714285714286

In [42]:
c= dados[3:10]
c
numpy.mean(c)

6.285714285714286